.btn {
  background-color: color("button");
  border-radius: 0;
  color: color("button-text");
  font-weight: bold;
  height: toRem(26px);
  width: auto;
  padding: toRem(2px) toRem(4px) toRem(3px); 
}