&#DicePool {
  .window-content {
    background: color("background");
    color: color("body-text");
    padding: toRem(16px);

    option {
      color: color("select-option-text");
    }
  }
}

.DicePool-custom-die {
  width: toRem(28px);

  .field-input {
    text-align: center;
  }
}

#DicePool-custom-label {
  font-weight: bold;
}

.DicePool-item-name {
  padding-left: toRem(4px);
}

.DicePool-item-type-base {
  font-weight: bold;
}

.DicePool-item-type-bonus {
  color: color("bonus-text");
  font-weight: bold;
}

.DicePool-item-type-custom {
  font-style: italic;
}

.DicePool-item-type-penalty {
  color: color("penalty-text");
  font-weight: bold;
}

.DicePool-item-value {
  font-weight: bold;
  text-align: center;
  width: toRem(28px);
}

.DicePool-max-dice {
  width: toRem(53px);

  .field-input {
    text-align: center;
  }
}

#DicePool-pool {
  background-color: color("background-alt");
  padding: toRem(4px);
}

#DicePool-pool-empty {
  font-style: italic;
  text-align: center;
}

#DicePool-pool-label {
  font-weight: bold;
  text-align: center;
}

#DicePool-total {
  background-color: color("background-alt");
  padding: toRem(4px);
  text-align: center;
}

#DicePool-total-label {
  font-weight: bold;
}

#DicePool-total-dice {
  font-size: toRem(24px);
}
