&#GenSettings {
  .window-content {
    background: color("background");
    color: color("body-text");
    padding: toRem(16px);

    option {
      color: color("select-option-text");
    }
  }
}

#GenSettings-dice-legend {
  border-bottom: toRem(2px) solid color("border");
  font-weight: bold;
  width: 100%;
}

.GenSettings-max-pool {
  width: 8rem;
}