&.RollResult {
  background: color("background");
  border-radius: 0;
  color: color("body-text");

  .message-header {
    color: color("body-text");
  }
}

.RollResult-sets,
.RollResult-waste {
  border: toRem(2px) solid color("border");
}

.RollResult-sets-heading,
.RollResult-waste-heading {
  font-weight: bold;
  line-height: 1;
}

.RollResult-result-summary {
  background-color: color("background-alt");
  padding: toRem(2px) toRem(4px);
  text-align: center;
  width: 3rem;
}
