&.RollResult {
  background: color("background");
  border-radius: 0;
  color: color("body-text");

  .message-header {
    color: color("body-text");
  }
}

.RollResult-results {
  border: toRem(2px) solid color("border");
  padding: toRem(4px);
}

.RollResult-result-summary {
  background-color: color("background-alt");
  padding: toRem(2px) toRem(4px);
  text-align: center;
  width: 3rem;
}