<form autocomplete="off" class="{{cssClass}}">
    <fieldset>
        <legend>{{localize 'DiceSize'}}</legend>
        <p>{{localize 'DiceSizeHint'}}</p>
        {{
            fieldSelect
            mechanicSettings.diceSize.value
            mechanicSettings.diceSize.choices
            'name'
            'value'
            hint=(tern (eq mechanicSettings.diceSize.value 6) (localize 'DiceSize6Hint') (localize 'DiceSize10Hint'))
            name="diceSize"
        }}
    </fieldset>
    {{
        fieldNumber
        mechanicSettings.maxDicePoolSize.value
        hint=(localize 'MaxDicePoolSizeHint')
        label=(localize 'MaxDicePoolSize')
        max=mechanicSettings.maxDicePoolSize.max
        min=mechanicSettings.maxDicePoolSize.min
        name="maxDicePoolSize"
        required=true
        step=mechanicSettings.maxDicePoolSize.step
    }}
</form>